/**********    全体    **********/
* {
	margin: 0;
	padding: 0 3%;
	box-sizing: border-box;
}

main {
	text-align: center;
	justify-content: center;
	width: 100%;
}
.text {
	width: 55%;
	text-align: center;
}

.text__title {
	height: 60px;
	margin-top: 30px;
}

.text__text {
	padding: 0 5%;
}

.image {
	width: 45%;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/**********    セクション    **********/
/* セクション自体、注意はpositionつける */
section {
	margin-top: 30px;
	background-color: #eee;
	justify-content: center;
	display: flex;
	position: relative;
	overflow: hidden;
}
/* セクションの疑似要素、注意はpositionつける */
section::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background: #333;
	/* アクティブ外れた時の戻り方 */
	transition: all 0.6s;
}
/* 偶数番目は逆配置 */
section:nth-child(2n) {
	flex-direction: row-reverse;
}
/* JSでアクティブにした時の疑似要素 */
section.rightOpen::before{
	transition: all 0.6s;
	transform: translateX(100%);
}
section.leftOpen::before{
	transition: all 0.6s;
	transform: translateX(-100%);
}
/* パターン２ */
section.p2::before {
	content: '';
	opacity: 1;
	background: #fff;
}
/* パターン３ もはやrightOpenではないけど*/
section.p3.rightOpen::before{
	transform: translateY(100%);
}
section.p3.leftOpen::before{
	transform: translateY(-100%);
}
section.p3::before {
	content: '';
	opacity: 1;
	background: #fff;
}

/* パターン４ もはやrightOpenではないけど*/
section.p4.rightOpen::before{
	transform: translateX(100%);
	transition: all 1.6s;
}
section.p4::before {
	content: '';
	opacity: 1;
	background: #fff;
	width: 140%;
	height: 100%;
	top: 0;
	/* width: 140%;だから、左に40%ずらす */
	left: -40%;
	/* 28%は画面でマスクを確認しながら導いた、計算できない？ */
	clip-path: polygon(28% 0%,100% 0%,100% 100%,0% 100%);
}